@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(27, 66%, 92%);
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

/* Colours */

.soft-red {
	color: hsl(10, 79%, 65%);
}

.cyan {
	color: hsl(186, 34%, 60%);
}

.dark-brown {
	color: hsl(25, 47%, 15%);
}

.medium-brown {
	color: hsl(28, 10%, 53%);
}

.cream {
	color: hsl(27, 66%, 92%);
}

.very-pale-orange {
	color: hsl(33, 100%, 98%);
}

/* Fonts */

.font-normal {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.font-bold {
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* Balance Header */

.balance-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	height: 125px;
	width: 540px;
	border-radius: 20px;
	background-color: #ec755d;
	color: #fffbf6;
}

.spending-section {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding: 25px;
	height: 511px;
	width: 540px;
	border-radius: 20px;
	background-color: #fffbf6;
	color: 382314;
}

.spending-graph {
	background-color: aquamarine;
	height: 380px;
}

.spending-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	font-size: 14px;
}

footer a {
	color: hsl(228, 45%, 44%);
	font-size: 14px;
}

footer a:hover {
	color: black;
	text-decoration: none;
}
